
.container {
	border: 5px solid black;
	width: 1000px;
	height: 500px;
	margin: 30px auto;
	padding: 5px;
	box-sizing: border-box;
	display: flex;
	}
.container div {
	width:150px;
	height:100px;
	background-color:blue;
	margin: 2px;
	}
.container div.satu{
	background-color: red;
	height: 480px;
	align-items: flex-start;
	}
.container div.lima {
	background-color: pink;
	justify-content: flex-end;
	width:1000px
	}
.container div.dua {
	background-color: purple;
	height:100px;
	flex-direction: column;
	}
